<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- User Output Appender -->
        <Console name="UserConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="* %d{yyyy-MM-dd HH:mm:ss} %-5p %c{1} - %m%n"/>
        </Console>

        <!-- Internal Logging Appender -->
        <Console name="InternalConsole" target="SYSTEM_ERR">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1} - %m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <!-- Logger for User Output -->
        <Logger name="com.yourpackage.user" level="info" additivity="false">
            <AppenderRef ref="UserConsole"/>
        </Logger>

        <!-- Logger for Internal Logging -->
        <Logger name="com.yourpackage.internal" level="debug" additivity="false">
            <AppenderRef ref="InternalConsole"/>
        </Logger>

        <!-- Root Logger -->
        <Root level="error">
            <AppenderRef ref="InternalConsole"/>
        </Root>
    </Loggers>
</Configuration>