<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Enable annotation scanning -->
    <context:component-scan base-package="com.andersen" />

    <!-- Enable annotation-based bean scanning for services and domain repositories -->
    <context:component-scan base-package="com.andersen.domain.repository"/>
    <context:component-scan base-package="com.andersen.service"/>

    <!-- Define service beans -->
    <bean id="passwordEncoder" class="com.andersen.service.security.PasswordEncoder" />

    <bean id="sessionManager" class="com.andersen.service.security.SessionManager" />

    <bean id="authService" class="com.andersen.service.auth.AuthServiceImpl">
        <constructor-arg ref="userRepository"/>
        <constructor-arg ref="sessionManager"/>
        <constructor-arg ref="passwordEncoder"/>
    </bean>

    <bean id="bookingService" class="com.andersen.service.booking.BookingServiceImpl">
        <constructor-arg ref="bookingRepository"/>
        <constructor-arg ref="workspaceRepository"/>
    </bean>

    <bean id="workspaceService" class="com.andersen.service.workspace.WorkspaceServiceImpl">
        <constructor-arg ref="workspaceRepository"/>
    </bean>

</beans>
